@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: rgb(29, 29, 29)
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    position: relative;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding: 20px;
}
.i i {
    color: rgb(29, 29, 29);
}
ul {
    display: flex;
    gap: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    left: 430px;
    cursor: pointer;
}
ul a {
    text-decoration: none;
    color: #fff;
}
ul li {
    transition: all 0.5s ease;
}
ul li:hover {
    color: rgb(253, 111, 0) ;
}
li {
    list-style: none;
}
.logo img {
    width: 140px;
    height: 70px;
    border-radius: 20px;
}
.btns button {
    padding: 10px 15px;
    background-color: var(--color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
h1 {
    color: #fff;
    text-align: center;
}
.Flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 130px;
}
.Places h1 {
    padding-top: 30px;
    color: #fff;
}
.Places p {
    color: rgb(253, 111, 0);
    padding-top: 10px;
}
.Places:nth-child(2) video {
    height: 640px;
}
@media (max-width:820px) {
    .Flex {
        margin-left: 100px;
        display: block;
    }
    .Places {
        margin-bottom: 100px;
    }
}
@media (max-width:768px) {
    .Flex {
        margin-left: 100px;
        display: block;
    }
    .Places {
        margin-bottom: 100px;
    }
}
